*{
    box-sizing: border-box;
}
body
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin:0;
}
.container
{
    flex-grow: 9;
    overflow: hidden;
    position: relative;
    overflow-x:hidden;
    overflow-y: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    display: flex;
    flex-direction: column;
}
.container .header{
    height: 70px;
    width: 100%;
    background: #0388B4;
}
.container .body
{
    width: 100%;
    min-height: 800px;
}