*{
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
}
.container {
    display: flex;
    height: 100%;
    width: 100%;
}
.container .sidebar
{
    /* display: none; */
    flex:1;
    padding: 20px;
    border-right: 2px solid white;
    background-color: rgb(31, 26, 26);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 20px 20px 10px grey;
}
.sidebar .frame1{
    display: grid;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color:rgb(35, 196, 196);
}
#logo_bachkhoa{
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.sidebar .frame2 {
    width: 100%;
    height: 70%;
    font-size: 1.5em;
    display: grid;
}
.sidebar .frame2 .format_button {
    height: 50px;
    margin-bottom: 10px;
    font-size: 0.75em;
    background-color: transparent;
    color: aliceblue;
    transition: transform 0.5s ease-in-out;
}
.sidebar .frame2 .format_button:hover
{
    cursor: pointer;
    transform: scale(1.1);
    background-color:darkblue;
}
.container .main_bar
{
    flex:3;
}
.container .main_bar.general{
    background: url('picture/backgroundBk.jpg') no-repeat;
    background-size: cover;
    background-position: center;
   image-rendering: high-quality;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px; */
    position: relative;
    /*  */
    display: block;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.container .main_bar.general.active {
    opacity: 1; /* Hiển thị phần tử khi có class 'active' */
}
.main_bar.general img {
    width: 50px;
    height: 50px;
}
.container .main_bar.general .Border_Troubleshooting {
    /* position: absolute; */
    /* top: 100px;
    left: 20px; */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 600px;
    height: 150px;
    padding: 20px;
    box-sizing: border-box;
    display: block;
}
.Border_Troubleshooting button{
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
}
.Border_Troubleshooting button:hover {
    opacity: 1;
}
.container .main_bar.info
{
    height: 100%;
    display: none;
    opacity: 0; /* Ẩn phần tử ban đầu */
    transition: opacity 0.5s ease;
    
}
.container .main_bar.info.active
{
    opacity: 1;
    display: flex;
    flex-direction: column;
}
.container .main_bar.info header
{
    font-size: 2em;
    background-color: rgb(51, 51, 191);
    color: whitesmoke;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container .main_bar.info .body_info
{
    display: flex;
    align-items: center;
    /* border-bottom: 2px solid black; */
    margin-bottom: 10px;
    height: auto;
}
.container .main_bar.info .body_info img{
    width: 200px;
    height: 200px;
    margin-left: 30px;
}
.container .main_bar.info .body_info .info
{
    display: flex;
    flex-direction: column;
    width: 58%;
    height: auto;
}
.container .main_bar.info .body_info .container-picture
{
    width: 100%;
    flex-grow: 1;
}
.container .main_bar.info .List input
{
    flex-grow: 1; /* Cho phép input kéo dài và chiếm hết không gian còn lại */
    margin-left: 10px; /* Tạo khoảng cách giữa label và input */
    border: none;
    border-bottom: 2px solid #ccc; 
}
.container .main_bar.info .List li
{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.container .main_bar.info p{
    text-align: center;
    font-size: 1.5em;
    color:black;
    font-weight: bold;
}
.container .main_bar.info .List{
 font-size: 1.1em;
    display: grid;
    grid-gap: 10px;
    align-items: center;
    flex:1;
    margin-left: 40px;
}
/* .container .main_bar.info .family_info{
    height: 300px;
    width: 100%;
    align-items: center;
}
.container .main_bar.info .family_info .info{
    display: flex;
    justify-content: space-between;
}
.container .main_bar.info .family_info .info img{
    width: 200px;
    height: 200px;
}
.container .main_bar.info .family_info .info .picture
{
    flex: 1;
  text-align:center;
} */
.container .main_bar.info .body_info .info button
{
    width: 30%;
    height: 50px;
    cursor: pointer;
    background-color: white;
    margin: 20px auto;
   /* position: absolute;
   left: 60%;
   right: 40%;
   bottom: 0; */
   font-size: 1.1em;
   font-weight:500;
}
.container .main_bar.info .body_info .info button:hover
{
    background-color: cornflowerblue;
    transform: scale(1.2);
}
.container .main_bar.course
{
    position: relative;
    box-sizing: border-box;
    text-align: left;
    font-family: Century Gothic, Arial, Helvetica, sans-serif;
    display: none;
}
/*  */
.container .main_bar.course .drawer.drag-container
{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    padding: 0;
    box-sizing: border-box;
    height: calc(100% - 60px);
    position: relative;
   
}
.container .main_bar.course .drawer.drag-container .drawer_middle
{
    /* display: flex !important; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
   position: relative;
}
.container .main_bar.course .drawer.drag-container .drawer_middle .draw_header
{
    display: flex;
    margin-top: 15px;
    width: 100%;
    height: 10%;
    margin-bottom: 15px;
    align-items: flex-start;
    align-items: center;
    flex-shrink: 0;
}
.container .main_bar.course .drawer.drag-container .drawer_middle .draw_header h1{
    font-weight: 700;
    font-size: 1.875rem;
    margin-bottom: .5rem;
    color: #044CC8;
}
.container .main_bar.course .drawer.drag-container .drawer_middle .draw_table
{
    width: 100%;
    height: 100%;
    border: 1px solid #e5e5e5;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.container .main_bar.course .drawer.drag-container .drawer_middle .draw_table .header_table
{
    display: flex;
    margin: 15px;
    padding-right: 65px;
    flex-shrink: 0;
    height: 30px; 
    text-align: center;
    align-items: center;
}
.container .main_bar.course .drawer.drag-container .drawer_middle .draw_table .header_table h2
{
    font-weight: 400;
    font-size: 21px;
    color: #044CC8;
    line-height: 1.2;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    
}
.container .main_bar.course .drawer.drag-container .drawer_middle .draw_table .body_table
{
    background: #f8f8f8;
    height: 100%;
    flex-grow: 1;
    font-size: 15px;
    font-family: Century Gothic, Arial, Helvetica, sans-serif;
    color: #656565;
    border-top: 1px solid #e5e5e5;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    margin-right: -.25rem;
    margin-left: -.25rem;
    position: relative;
    
}
.container .main_bar.course .drawer.drag-container .drawer_middle .draw_table .body_table .box-card .card
{
    display: flex;
    flex-direction: column;
    width: calc(22.1% - 0.5px);
    margin-left: .25rem;
    margin-right: .25rem;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .5rem;
    margin-bottom: .5rem;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    height: calc(25% - 0.5px);
}
.container .main_bar.course .drawer.drag-container .drawer_middle .draw_table .body_table .box-card .img
{
    height: 60%;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 5px;
}
.container .main_bar.course .drawer.drag-container .drawer_middle .draw_table .body_table .box-card .card.dashboard 
{
    padding: 7px;
    position: relative;
    float:left;
   
}
.container .main_bar.course .drawer.drag-container .drawer_middle .draw_table .body_table .box-card .card.dashboard .string.box a{
    
    text-decoration: none;
    font-size: 1.2em;
    max-width: 100%;
    bottom:5px;
    word-wrap: break-word;
}
.container .main_bar.course .drawer.drag-container .drawer_middle .draw_table .body_table .box-card .card.dashboard .string
{
    max-width: 100%;
    word-wrap: break-word;
}
.container .main_bar.course .drawer.drag-container .drawer_middle .draw_table .body_table .box-card .card.dashboard .string.box-subject .format-string p{
    margin: 0px 0px 5px 0px;
    font-size: 1.0em;
    max-width: 100%;
    word-wrap: break-word;
}
.container .main_bar.course .drawer.drag-container .drawer_middle .draw_table .body_table .box-card .card.dashboard .string.box-subject a{
    text-decoration: none;
    font-size: 1.0em;
    width: 100%;
    word-wrap: break-word;
}
/* .container .main_bar.course .drawer.drag-container .drawer_middle .draw_table .body_table .box-card .card.dashboard .img{
    height:30rem;
    
} */
.container .main_bar.course .drawer.drag-container .drawer_middle .draw_table .body_table .box-card{
    width: 100%;
    height: auto;
    max-height: 100%;
    position: relative;
}

