*{
    box-sizing: border-box; 
}
body{
    min-height: 100vh;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
}
.container{
    z-index: 1;
    flex-grow: 9;
    overflow: hidden;
    position: relative;
    background-color: #222d32;
    overflow-x:hidden;
    overflow-y: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}
.container .main-header{
    height: 70px;
    margin-top: 15px;
    position: relative;
    z-index: 1030;
    background-color: #2f85b7;
}
.container .main-header .container-header{
    width: 90%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}
.container .main-header .container-header .navbar-header{
    float: left;
    height: 100%;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .main-header .container-header .navbar-header .dky_mon{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    padding-top: 8px;
}
.container .main-header .container-header .navbar-header p{
    float: left;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
}
.container .main-header .container-header .navbar-custom-menu{
    float: right;
    height: 100%;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
}
.container .main-header .container-header .navbar-custom-menu a{
    display: flex;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}
.navbar-custom-menu .box-icon
{
    margin-top: 2px;
   margin-right: 2px;
    height: 20px;
    width: 20px;
}
.container .main-header .container-header .navbar-custom-menu2{
    width: 400px;
    height:100%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding-top: 8px;
    margin-left: 100px;
}
.container .main-header .container-header .navbar-custom-menu2 a{
    text-decoration: none;
    color: #fff;
}
.container .body_container
{
    width: 100%;
    min-height: 800px;
    background-color: white;
    display: flex;
    justify-content:space-between;
    z-index: 2;
} 
.container .body_container .table
{
    height: 100%;
    width: 900px;
    margin-left: auto;
    border: 1px solid #3c8dbc;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
/* .container .body_container .table .select_box
{
    width: 100%;
    height:100px;
} */
.body_container .container-register .box-register .dropdown
{   
    margin-top: 20px;
    position: relative;
    display: block;
    width: 100%;
    height:40px
}
.body_container .container-register .box-register .dropdown .dropbtn
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 14px;
    border: none;
    width: 100%;
    height:100%
}
.body_container .container-register .box-register .dropdown .dropbtn .icon{
  width: 20px;
  height: 20px;
  padding-top: 3px;
}
.body_container .container-register .box-register .dropdown .dropbtn .span{
    float: left;
}
.body_container .container-register .box-register .dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.body_container .container-register .box-register .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.body_container .container-register .box-register .dropdown:hover .dropdown-content {
    display: block;
}
.body_container .container-register .box-register .dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.container .body_container .table .header-table{
    width: 100%;
    height:40px;
    background-color: #2f85b7;
}
/* .copyright{
    flex-grow: 1;
    height: 10%;
    background-color: aliceblue;
} */
.body_container .container-register
{   
    flex-grow: 4;
    height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.body_container .container-register .box-register{
    width: 300px;
    height: 300px;
    border: 1px solid #3c8dbc;
}
.body_container .container-register .box-register .box-p{
    display: flex;
    justify-content: center;
    align-items: center;   
    background-color: #2f85b7;
    margin-top: 20px;
}
.body_container .container-register .box-register .box-p p{
    
    font-size: 14px;
    color: white;
    font-weight: 400;
    
}
.container_table
{
    flex-grow: 4;
    padding:20px;
    height: 800px;
    
}
.container_table .table .header2
{
    width: 100%;
    height: 40px;
    background-color: rgb(231, 222, 222);
    display: flex;
    border-bottom: 1px solid black;
    /* align-items: center; */
}
.container_table .table .header2 .STT{
    flex:1;
    height: 100%;
    float: left;
    font-size: 15px;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_table .table .header2 .Subject
{
    flex:2;
    height: 100%;
    float: left;
    font-size: 15px;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_table .table .header2 .Time{
    flex:2;
    height: 100%;
    float: left;
    font-size: 15px;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_table .table .header2 .Weekend{
    flex:2;
    height: 100%;
    float: left;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_table .table .header2.subject
{
    background-color: white;
}