.container {
    width: 100%;
    height: 100%;
     display: flex;
    gap:0; 
}

.sidebar {
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #3A65F6;
}

.titlepage {
  flex-direction: column;
  width: 100%;
  height: 18vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo {
  position: absolute;
  left: 0px;
  width: 91px;
  height: 85px;
  position: absolute;
}

.textMyBK {
  position: absolute;
  left: 100px;
  color: rgba(249, 249, 249, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Black;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.fullcombo {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 30px;
  padding-top: 30px;
}

.Tientrinh {
  width: 206px;
  height: 34px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 1;
}

.sidebarbox {
  width: 180px;
  height: 50px;
  border-radius: 20px;
  align-items: center;
  display: flex;
  background-color: #3A65F6;
  padding-left: 5%;
}

.sidebartext {
  padding-left: 10px;
  height: auto;
  font-size: 22px;
  font-style: Bold;
  text-align: center;
  font-family: "Nunito";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;  
  color: rgba(249, 249, 249, 1);
  
}

.Trangchu-icon {
  width: 20%;
  height: 28px;
  display: inline-block;
  box-sizing: content-box;
}

.Bangdiemicon {
  width: 34px;
  height: 34px;
}

.Khoahoc-icon {
  width: 34px;
  height: 34px;
}

.Tientrinh-icon {
  width: 34px;
  height: 34px;
}

.dangky-icon {
  width: 25px;
  height: 25px;
}

.dangxuat-icon {
  width: 30px;
  height: 30px;
}

.sidebarbox:hover {
  background-color: #FFFFFF; 
  color: #3A65F6; 
}

.sidebarbox:hover .sidebartext {
  color: #3A65F6; 
}
.container .main_bar
{
    flex:3;
}
.container .main_bar.general{
    background: url('public/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    image-rendering: high-quality;
    display: grid;

    position: relative;
    /*  */
    opacity: 0; /* Ẩn phần tử ban đầu */
    transition: opacity 0.5s ease;
}
.container .main_bar.general.active {
    opacity: 1; /* Hiển thị phần tử khi có class 'active' */
}
.main_bar.general img {
    width: 50px;
    height: 50px;
}

.righttopbox {
    position: absolute;
    top: 34px;
    left: 1000px;
    width: 18%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #E5EBFF;
    border-radius: 30px;
  }
  
  .righttopbox-ava {
    padding-left: 15px;
    flex: 1;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content:center;
    align-items: center;
    flex-shrink: 1;
    display: inline-block;
  }
  
  .righttopbox-tenchucvu {
    padding-left: 10px;
    flex: 3;
    width: 110px;
    height: 51px;
    display: flex;
    flex-direction: column;
  }
  
  .righttopbox-ten {
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Medium;
    text-align: left;
    font-family: Nunito;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    
  }
  
  .righttopbox-chucvu {
    padding-top: 30px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Nunito;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }

.container .main_bar.info
{
    height: auto;
    display: none;
    opacity: 0; /* Ẩn phần tử ban đầu */
    transition: opacity 0.5s ease;
}
.container .main_bar.general .Border_Troubleshooting {
    /* position: absolute; */
    /* top: 100px;
    left: 20px; */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 600px;
    height: 150px;
    padding: 20px;
    box-sizing: border-box;
    display: block;
}
.Border_Troubleshooting button{
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
}
.Border_Troubleshooting button:hover {
    opacity: 1;
}


.container .main_bar.info.active
{
    opacity: 1;
}
.container .main_bar.info header
{
    font-size: 2em;
    background-color: rgb(51, 51, 191);
    color: whitesmoke;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container .main_bar.info .body_info
{
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}
.container .main_bar.info .body_info img{
    width: 200px;
    height: 200px;
    margin-left: 30px;
}
.container .main_bar.info .body_info .info
{
    width: 58%;
    height: auto;
    margin-bottom: 15px;
}
.container .main_bar.info .List input
{
    flex-grow: 1; /* Cho phép input kéo dài và chiếm hết không gian còn lại */
    margin-left: 10px; /* Tạo khoảng cách giữa label và input */
    border: none;
    border-bottom: 2px solid #ccc; /* Chỉ giữ lại border dưới */
}
.container .main_bar.info .List li
{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.container .main_bar.info p{
    text-align: center;
    font-size: 1.5em;
    color:black;
    font-weight: bold;
    margin:20px;
}
.container .main_bar.info .List{
 font-size: 1.1em;
    display: grid;
    grid-gap: 10px;
    align-items: center;
    flex:1;
    margin-left: 40px;
}
.container .main_bar.info .family_info{
    height: auto;
    width: 100%;
    align-items: center;
    display: grid;
}
.container .main_bar.info .family_info .info{
    display: flex;
    justify-content: space-between;

    
}
.container .main_bar.info .family_info .info img{
    width: 200px;
    height: 200px;
}
.container .main_bar.info .family_info .info .picture
{
    flex: 1;
    display: flex;
    justify-content: center;
  
}
.update-for-info
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 20px;
}
.container .main_bar.info button
{
    width: 100px;
    height: 50px;
    cursor: pointer;
    background-color: white;
   font-size: 1.1em;
   font-weight:500;
   border: 2px solid #04AA6D; /* Green */
   border-radius: 5px; /* Làm tròn góc của nút */
   transition: border-color 0.5s ease-out;
}
.container .main_bar.info  button:hover
{
    background-color: cornflowerblue;
    transform: scale(1.2);
    border-color: white
}

.container .main_bar.score {
    display: none;
    opacity: 0; /* Ẩn phần tử ban đầu */
    transition: opacity 0.5s ease;
}

.container-diem {
  width: 80%;
  padding: 20px;
  padding-top: 50px;
  margin: auto;
  font-family: Arial, sans-serif;
}

.header h2 {
  text-align: center;
  color: #cc3c1f;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: x-large;
  font-family: Nunito;
}

.header p {
  padding-top: 10px;
  font-family: Nunito;
  font-weight: bold;
  text-align: center;
  color: #045584;
}

.content {
  margin-top: 20px;
}

.subject-details {
  font-family: Nunito;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.subject-details span {
  color: #cc3c1f;
  font-weight: bold;
  font-family: Nunito;
  padding-top: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table-striped th:nth-last-child(1),
.table-striped td:nth-last-child(1) {
    width: 320px;
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
}

.table th, .table td {
  font-family: Nunito;
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
  word-wrap: break-word;
}

.table th {
  background-color: #3A65F6;
  color: white;
}

tfoot .text-center {
  text-align: center;
}

.subject-details select {
  padding: 5px 10px;
  font-family: Nunito, sans-serif;
  font-size: 16px;
  color: #045584;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}

.subject-details select:focus {
  outline: none;
  border-color: #cc3c1f;
}

.container-tkb {
  width: 90%;
  padding: 20px;
  padding-top: 50px;
  margin: auto;
  font-family: Nunito;
}

.header h2 {
  text-align: center;
  color: #cc3c1f;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: x-large;
  font-family: Nunito;
}

.header p {
  padding-top: 10px;
  font-family: Nunito;
  font-weight: bold;
  text-align: center;
  color: #045584;
}

.content {
  margin-top: 20px;
}

.subject-details {
  font-family: Nunito;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.subject-details span {
  color: #cc3c1f;
  font-weight: bold;
  font-family: Nunito;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table th, .table td {
  font-family: Nunito;
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
  word-wrap: break-word;
  white-space: nowrap;
  width: 96px;
}

.table th {
  background-color: #3A65F6;
  color: white;
}

tfoot .text-center {
  text-align: center;
}

.subject-details select {
  padding: 5px 10px;
  font-family: Nunito, sans-serif;
  font-size: 13px;
  color: #045584;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}

.subject-details select:focus {
  outline: none;
  border-color: #cc3c1f;
}

.container .main_bar.course
{
    position: relative;
    box-sizing: border-box;
    text-align: left;
    font-family: Century Gothic, Arial, Helvetica, sans-serif;
    display: none;
}
/*  */
.container .main_bar.course .drawer.drag-container
{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    padding: 0;
    box-sizing: border-box;
    height: calc(100% - 60px);
    position: relative;
   
}
.container .main_bar.course .drawer.drag-container .drawer_middle
{
    /* display: flex !important; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
   position: relative;
}
.container .main_bar.course .drawer.drag-container .drawer_middle .draw_header
{
    display: flex;
    margin-top: 15px;
    width: 100%;
    height: 10%;
    margin-bottom: 15px;
    align-items: flex-start;
    align-items: center;
    flex-shrink: 0;
}
.container .main_bar.course .drawer.drag-container .drawer_middle .draw_header h1{
    font-weight: 700;
    font-size: 1.875rem;
    margin-bottom: .5rem;
    color: #044CC8;
}
.container .main_bar.course .drawer.drag-container .drawer_middle .draw_table
{
    width: 100%;
    height: 100%;
    border: 1px solid #e5e5e5;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.container .main_bar.course .drawer.drag-container .drawer_middle .draw_table .header_table
{
    display: flex;
    margin: 15px;
    padding-right: 65px;
    flex-shrink: 0;
    height: 30px; 
    text-align: center;
    align-items: center;
}
.container .main_bar.course .drawer.drag-container .drawer_middle .draw_table .header_table h2
{
    font-weight: 400;
    font-size: 21px;
    color: #044CC8;
    line-height: 1.2;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    
}
.container .main_bar.course .drawer.drag-container .drawer_middle .draw_table .body_table
{
    background: #f8f8f8;
    height: 100%;
    flex-grow: 1;
    font-size: 15px;
    font-family: Century Gothic, Arial, Helvetica, sans-serif;
    color: #656565;
    border-top: 1px solid #e5e5e5;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    margin-right: -.25rem;
    margin-left: -.25rem;
    position: relative;
    
}
.container .main_bar.course .drawer.drag-container .drawer_middle .draw_table .body_table .box-card .card
{
    display: flex;
    flex-direction: column;
    width: calc(22.1% - 0.5px);
    margin-left: .25rem;
    margin-right: .25rem;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .5rem;
    margin-bottom: .5rem;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    height: calc(25% - 0.5px);
}
.container .main_bar.course .drawer.drag-container .drawer_middle .draw_table .body_table .box-card .img
{
    height: 60%;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 5px;
}
.container .main_bar.course .drawer.drag-container .drawer_middle .draw_table .body_table .box-card .card.dashboard 
{
    padding: 7px;
    position: relative;
    float:left;
   
}
.container .main_bar.course .drawer.drag-container .drawer_middle .draw_table .body_table .box-card .card.dashboard .string.box a{
    
    text-decoration: none;
    font-size: 1.2em;
    max-width: 100%;
    bottom:5px;
    word-wrap: break-word;
}
.container .main_bar.course .drawer.drag-container .drawer_middle .draw_table .body_table .box-card .card.dashboard .string
{
    max-width: 100%;
    word-wrap: break-word;
}
.container .main_bar.course .drawer.drag-container .drawer_middle .draw_table .body_table .box-card .card.dashboard .string.box-subject .format-string p{
    margin: 0px 0px 5px 0px;
    font-size: 1.0em;
    max-width: 100%;
    word-wrap: break-word;
}
.container .main_bar.course .drawer.drag-container .drawer_middle .draw_table .body_table .box-card .card.dashboard .string.box-subject a{
    text-decoration: none;
    font-size: 1.0em;
    width: 100%;
    word-wrap: break-word;
}
/* .container .main_bar.course .drawer.drag-container .drawer_middle .draw_table .body_table .box-card .card.dashboard .img{
    height:30rem;
    
} */
.container .main_bar.course .drawer.drag-container .drawer_middle .draw_table .body_table .box-card{
    width: 100%;
    height: auto;
    max-height: 100%;
    position: relative;
}

.container .main_bar.schedule {
    display: none;
    opacity: 0; /* Ẩn phần tử ban đầu */
    transition: opacity 0.5s ease;
    width: 100%;
    height: 100%;
}
/* .container .main_bar.schedule .container-diem
{
  width: 80%;
  height: auto;
  margin: auto;
  display: grid;
}
.container .main_bar.schedule .accept-button
{
  width: 100%;
} */
.main_bar.score
{
 position: relative;
}
.container-diem
{
  width: 80%;
  height: auto;
  margin: auto;
  display: grid;
}
.main_bar.score .accept-button
{
  margin:20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  bottom: 0px;
 position: absolute;
 bottom: 10px;
}
.main_bar.score button {
   background-color: #4CAF50; 
  color: white; 
  padding: 15px 32px;
  text-align: center; 
  text-decoration: none; 
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px; 
  cursor: pointer; 
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  border-radius: 5px;
}
.main_bar.score button:hover {
  background-color: blue;
  transform: scale(1.2);
  border-color: white;
}