*{
    box-sizing: border-box; 
}
body{
    min-height: 100vh;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
}
.container{
    z-index: 1;
    flex-grow: 9;
    overflow: hidden;
    position: relative;
    background-color: #222d32;
    overflow-x:hidden;
    overflow-y: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}
.container .main-header{
    height: 70px;
    margin-top: 15px;
    position: relative;
    z-index: 1030;
    background-color: #2f85b7;
}
.container .main-header .container-header{
    width: 90%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}
.container .main-header .container-header .navbar-header{
    float: left;
    height: 100%;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .main-header .container-header .navbar-header .dky_mon{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    padding-top: 8px;
}
.container .main-header .container-header .navbar-header p{
    float: left;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
}
.container .main-header .container-header .navbar-custom-menu{
    float: right;
    height: 100%;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
}
.container .main-header .container-header .navbar-custom-menu a{
    display: flex;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}
.navbar-custom-menu .box-icon
{
    margin-top: 2px;
   margin-right: 2px;
    height: 20px;
    width: 20px;
}
.container .main-header .container-header .navbar-custom-menu2{
    width: 400px;
    height:100%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding-top: 8px;
    margin-left: 100px;
}
.container .main-header .container-header .navbar-custom-menu2 a{
    text-decoration: none;
    color: #fff;
}
.container .body_container
{
    width: 100%;
    min-height: 800px;
    background-color: white;
    display: flex;
    justify-content:space-between;
    z-index: 2;
} 
.container .body_container .table
{
    height: 100%;
    width: 900px;
    margin-left: auto;
    border: 1px solid #3c8dbc;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
/* .container .body_container .table .select_box
{
    width: 100%;
    height:100px;
} */
.body_container .container-register .box-register .dropdown
{   
    margin-top: 20px;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
    height:auto;
}
.body_container .container-register .box-register .dropdown label
{
    display: inline-block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}
button#submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 24px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button#submit:hover {
    opacity: 0.8;
}
.body_container .container-register .box-register .dropdown select
{
    display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml,...'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  text-align: center;
}
.body_container .container-register .box-register .dropdown select:hover
{
    border-color: #888;
}
.body_container .container-register .box-register .dropdown select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
  }
.body_container .container-register .box-register .dropdown select::-ms-expand {
    display: none;
  }
.body_container .container-register .box-register .dropdown select option{
    font-weight:normal;
}
.body_container .container-register .box-register .dropdown .ID_Subject
{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    margin: 10px 5px;
    padding-bottom: 20px;
    border-bottom: 1px solid #3c8dbc;
}
.body_container .container-register .box-register .dropdown .ID_Subject .container-ID_Subject
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    width: 100%;
}
#ma_mon_hoc {
    width: 150px;
    height: 30px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-image: url('data:image/svg+xml,...'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    border: 1px solid #aaa;
    color: rgb(29, 26, 26);
}
.Accept button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(to right, #36d1dc, #5b86e5);
}
.Accept button:hover {
    background: linear-gradient(to right, #5b86e5, #36d1dc);
}
.body_container .container-register .box-register .dropdown .ID_Subject label
{
    padding-top: 5px;
}
.body_container .container-register .box-register .dropdown .select_day
{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    margin: 10px 5px;
}
.body_container .container-register .box-register .dropdown .Time_study
{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    margin: 10px 5px;
}
.body_container .container-register .box-register .dropdown .submit
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 5px;
}
.body_container .container-register .box-register .dropdown .submit #submit {
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(to right, #36d1dc, #5b86e5);
    margin-right: 10px;
}

.body_container .container-register .box-register .dropdown .submit #submit:hover {
    background: linear-gradient(to right, #5b86e5, #36d1dc);
}

/* Định dạng cho nút Reload */
.body_container .container-register .box-register .dropdown .submit #Reload {
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(to right, #ff9966, #ff5e62);
}

/* Thêm hiệu ứng khi di chuột qua nút Reload */
.body_container .container-register .box-register .dropdown .submit #Reload:hover {
    background: linear-gradient(to right, #ff5e62, #ff9966);
}

.container .body_container .table .header-table{
    width: 100%;
    height:40px;
    background-color: #2f85b7;
}
/* .copyright{
    flex-grow: 1;
    height: 10%;
    background-color: aliceblue;
} */
.body_container .container-register
{   
    flex-grow: 4;
    height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.body_container .container-register .box-register{
    width: 300px;
    height: auto;
    border: 1px solid #3c8dbc;
}
.body_container .container-register .box-register .box-p{
    display: flex;
    justify-content: center;
    align-items: center;   
    background-color: #2f85b7;
    margin-top: 20px;
}
.body_container .container-register .box-register .box-p p{
    
    font-size: 14px;
    color: white;
    font-weight: 400;
    
}
.container_table
{
    flex-grow: 4;
    padding:20px;
    height: 800px;
    
}
.container_table .table .header2
{
    width: 100%;
    height: 40px;
    background-color: rgb(231, 222, 222);
    display: flex;
    border-bottom: 1px solid black;
    /* align-items: center; */
}
.container_table .table .header2 .STT {
    flex:1;
    height: 100%;
    float: left;
    font-size: 15px;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_table .table .header2 .class_name {
    flex:1;
    height: 100%;
    float: left;
    font-size: 15px;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_table .table .header2 .Subject
{
    flex:2;
    height: 100%;
    float: left;
    font-size: 15px;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_table .table .header2 .Time{
    flex:2;
    height: 100%;
    float: left;
    font-size: 15px;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_table .table .header2 .Weekend{
    flex:2;
    height: 100%;
    float: left;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_table .table .header2.subject
{
    background-color: white;
}